/* Regular */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_It.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_LtIt.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "Delivery";
  src: url("fonts/delivery/Delivery_W_BdIt.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Condensed Light */
@font-face {
  font-family: "Delivery Condensed";
  src: url("fonts/delivery/Delivery_W_CdLt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Condensed Black */
@font-face {
  font-family: "Delivery Condensed";
  src: url("fonts/delivery/Delivery_W_CdBlk.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
